<configuration><configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BasketGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BasketGame.Properties.Settings>
            <setting name="TwoClickDrag" serializeAs="String">
                <value>False</value> <!--True-->
            </setting>
        </BasketGame.Properties.Settings>
    </userSettings>
               </configuration>